.top {
  border: 3px solid black;
  font-size: 100px;
}

body {
  background-color: rgba(161, 159, 159, 0.932);
  margin: 10%;
  font-family: Arial;
}

h1 {
  font-size: 50px;
  margin: 50px;
  margin-top: 150px;
  color: rgb(211, 230, 128);
  -webkit-text-stroke: 2px black;
  text-shadow: 0px 0px 25px rgba(255, 0, 0, 0.57);
  display: inline-block;
  overflow: hidden;
  width: 500px;
}

h2 {
  font-size: 35px;
  float: right;
  margin: 10px;
  padding: 5% 10%;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.57);
}

h3 {
  font-size: 40px;
  font-stretch: expanded;
  /* margin: 15; */
  padding: 10px 30px;
}

h4 {
  font-size: 35px;
  float: right;
}

ul {
  list-style-type: none;
  font-family: "Gill Sans";
}

li {
  font-size: 25px;
}

.new-item-input {
  float: right;
  position: relative;
  left: 30rem;
  top: 10rem;
  margin: 10px 50px;
  border: 3px solid #2c0770;
  width: 250px;
  height: 25px;
  font-size: 15px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.57);
}

.current-list {
  border: 3px solid black;
  border-radius: 15px;

  box-shadow: 0px 5px 50px rgb(255, 255, 255),
    inset 3em 2em 5em rgba(0, 0, 0, 0.267);
  background-color: white;
}

.freezer {
  display: inline-block;
  /* margin-bottom: 150px; */
}

.freeze--btn {
  border: 2px solid;
  color: rgb(0, 0, 0);
  background-color: rgb(58, 170, 155);
  text-align: center;
  font-size: 28px;
  padding: 30px 52px;
  position: relative;
  margin-left: 700px;
  margin-bottom: 60px;
  bottom: 60px;
  /* left: 45%; */
  cursor: pointer;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #0a7285;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_in:hover {
  box-shadow: inset 0 0 0 50px #0a7285;
}

.input--btn {
  float: right;
  position: relative;
  left: 60rem;
  top: 10rem;
  margin: 10px 50px;
  border: 3px solid #2c0770;
  width: 100px;
  height: 25px;
  font-size: 15px;
  box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.57);
  background-color: #1bc963;
  cursor: pointer;
}